<a href="#/"><button class="btn btn-info center-block">Back to offers</button></a>
<br/>
<button class="btn btn-info center-block" ng-click="apply()">Apply for offer</button>
<div class="row top-buffer">
  <h3 style="text-align: center">Applications for given offer</h3>
  <a ng-repeat="application in applications" class="list-group-item">
    <div class="row con">
      <div class="col-md-3"><img src="images/university_application.jpg" class="img-circle" width="100" height="100" align="left"></div>
      <div class="col-md-9">
        <div class="row"><div class="col-md-6 " align="left"> <h4 class="list-group-item-heading">First name: {{application.applierData.firstName}}</h4></div></div>
        <div class="row"><div class="col-md-6 " align="left"> <h4 class="list-group-item-heading">Last name: {{application.applierData.lastName}}</h4></div></div>
        <div class="row"><div class="col-md-6 " align="left"> <h4 class="list-group-item-heading">Studies degree: {{application.applierData.studiesDegree}}</h4></div></div>
        <div class="row"><div class="col-md-6 " align="left"> <h4 class="list-group-item-heading">Studies type: {{application.applierData.typeOfStudies}}</h4></div></div>
      </div>
    </div>
  </a>
</div>
