<button type="button" style="display: block; margin: 0 auto;" class="btn btn-primary btn-med" data-toggle="modal" data-target="#addNewOfferModal">Add new offer</button>

<div class="row top-buffer">
  <h3 style="text-align: center">Offers</h3>
  <a ng-repeat="offer in offers" class="list-group-item" ng-href="/#/applications/{{offer.id}}">
    <div class="row con">
      <div class="col-md-3"><img src="images/university_offer.jpg" class="img-circle" width="100" height="100" align="left"></div>
      <div class="col-md-9">
        <div class="row"><div class="col-md-6 " align="left"> <h4 class="list-group-item-heading">University: {{offer.university}}</h4></div></div>
        <div class="row"><div class="col-md-6 " align="left"> <h4 class="list-group-item-heading">Country: {{offer.country}}</h4></div></div>
        <div class="row"><div class="col-md-6 " align="left"> <h4 class="list-group-item-heading">Duration: {{offer.duration}}</h4></div></div>
      </div>
    </div>
  </a>
</div>

<div id="addNewOfferModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adding new offer form</h4>
      </div>
      <div class="modal-body">
        <form role="form" ng-submit="addOffer(country, duration, erasmusCode, university, year, vacancies)">
          <div class="form-group">
            <label for="country">Country</label>
            <input name="stationName" id="country" type="text" ng-model="country" placeholder="country" class="form-control" required/>
            <label for="duration">Duration:</label>
            <input name="duration" id="duration" type="text" ng-model="duration" placeholder="duration" class="form-control" required/>
            <label for="erasmusCode">Erasmus code:</label>
            <input name="erasmusCode" id="erasmusCode" type="text" ng-model="erasmusCode" placeholder="erasmusCode" class="form-control" required/>
            <label for="university">University:</label>
            <input name="university" id="university" type="text" ng-model="university" placeholder="university" class="form-control" required/>
            <label for="year">Year:</label>
            <input name="year" id="year" type="text" ng-model="year" placeholder="year" class="form-control" required/>
            <label for="vacancies">Vacancies:</label>
            <input name="vacancies" id="vacancies" type="text" ng-model="vacancies" placeholder="vacancies" class="form-control" required/>
          </div>
          <button type="submit" class="btn btn-primary">Add offer</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close form</button>
        </form>
      </div>
    </div>
  </div>
</div>
